body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cart-item {
  display: inline-flex;
  margin: 32px 10px;
  width: 100%;
}
.cart-item .right-block {
  padding: 0 20px;
}
.cart-item-actions {
  margin-top: 20px;
}
.action-icons {
  height: 30px;
  width: 50px;
  margin-right: 10px;
}
.action-icons:hover {
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
}
/* navbar */
.cartIcon {
  height: 32px;
  margin-left: 20px;
  cursor: pointer;
}
.sort-by-price {
  margin-left: 85vw;
  position: fixed;
  margin-top: 7vh;
  background-color: bisque;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.nav {
  height: 70px;
  width: 100vw;
  background: #4267b2;
  display: flex;
  align-items: center;
}
.cartIconContainer {
  position: sticky;
  left: 86vw;
}
.cartCount {
  display: inline-block;
  background: white;
  border-radius: 50%;
  padding: 4px 8px;
  position: absolute;
  top: -9px;
}
.cart-add-products {
  margin-left: 13vw;
  text-align: center;
  font-weight: bold;
  color: lightgrey;
  font-size: 1rem;
  background-color: darkgoldenrod;
  border-radius: 12px;
  width: 10vw;
  padding: 9px;
  cursor: pointer;
}

/* add products */
.add-product-container {
  border: 1px solid black;
  position: fixed;
  height: 59%;
  width: 41%;
  background-color: #99abcf;
  margin-left: 25%;
  margin-top: -2%;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.add-product-form {
  height: 72%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #4267b2;
}
.add-product-input {
  height: 12%;
  width: 90%;
  align-items: center;
  padding: 4px;
  border: 2px solid blanchedalmond;
  border-radius: 10px;
  outline: none;
}
.add-product-label {
  padding: 11px;
}
.add-product-btn {
  height: 13%;
  width: 42%;
  border-radius: 10px;
  margin-top: 5%;
}
.add-product-close {
  height: 6px;
  width: 37px;
  position: absolute;
  left: 89%;
  top: 3%;
  cursor: pointer;
}
.all-products {
  font-weight: bold;
  position: sticky;
  background: beige;
  height: 38%;
  width: 10%;
  padding: 7px;
  border-radius: 13px;
  margin-left: 1%;
  /* position: relative; */
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: tomato;
}
